# General packages
kaggle==1.5.6
prompter==0.3.10
joblib==0.13.2
luigi==2.8.9
colorlog==4.0.2
ipdb==0.12.2
pudb==2019.2
swifter==0.296
pytest-cov==2.8.1
inflection==0.3.1
line_profiler==3.0.2
poetry==1.0.9

# ML packages
pandas==1.0.3
scikit-learn==0.23.1
catalyst==20.06
pytorch-lightning==0.8.4
lightgbm==2.3.1
catboost==0.20.1
xgboost==0.90
optuna==1.5.0

# Experiment management packages
graphql-core==2.0
comet_ml==3.1.2
omegaconf==2.0.0
mlflow==1.8.0

# Jupyter packages
jupyterlab==2.1.5
seaborn==0.10.1
tqdm==4.47.0
ipython-autotime==0.1
nbdime==1.1.0
py-heat-magic==0.0.2
plotly==4.8.2

# NLP modules
nltk==3.4.5
gensim==3.8.1
sentencepiece==0.1.85
unidecode==1.0.23
transformers==3.0.0
